// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


/**** ---- universal ---- ****/

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 60px;
}



/**** ---- header ---- ****/

.navbar-static-top {
  margin-bottom: 40px;
  margin-top: 0px;
}



/**** ---- footer ---- ****/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}