// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


/******** universal ********/

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 60px;
}



/******** header ********/

.navbar-static-top {
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 40px;
  margin-top: 0px;

  .dropdown-item {
      .user-item {
        display: flex;
        align-items: center;
        height: 44px;
        padding: 0px 20px 0px 0px;
        cursor: pointer;
        color: rgb(0, 0, 0);

        i {
          padding-right: 8px;
        }
      }
    }
}



/******** footer ********/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

/******** User Register Page ********/
.register-page {
  img.captcha {
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 3px;
  }
}


/******** Topic Index Page & Category Show Page & Root Page ********/
.topics-index-page, .categories-show-page, .root-page {
  .topic-list {
    .nav > li > a {
      position: relative;
      display: block;
      padding: 5px 14px;
      font-size: 1em;
    }

    a {
      color: #444444;
    }

    .meta {
      font-size: 0.9em;
      color: #b3b3b3;

      a {
        color: #b3b3b3;
      }
    }

    .badge {
      background-color: #d8d8d8;
    }

    hr {
      border: 0;
      border-top: 2px solid #dcebf5;
    }
  }
}

/******** Add container and footer space ********/
#app > div.container {
  margin-bottom: 100px;
}

/******** Sidebar ********/
.sidebar {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .active {
    background-color: rgba(255, 255, 255, 0.2);
  }

  li {
    a {
      display:block;
      text-decoration:none;

      .sidebar-item {
        display: flex;
        align-items: center;
        height: 44px;
        padding: 0px 10px 0px 20px;
        cursor: pointer;
        color: rgb(255, 255, 255);
      }

      i {
        padding-right:10px;
      }

      :hover {
        background-color: rgba(255, 255, 255, 0.3) !important;
      }
    }
  }
}

/******** Simditor ********/
.simditor-body img {
  max-width:100%;
}


/******** Topic Show Page ********/
@import "topic_body";

.topics-show-page {

  .card {
      padding: 15px;

      h1 {
          margin: 0.4em auto 0.6em;
          font-size: 28px;
          line-height: 38px;
      }
  }
}

/******** 回覆列表 ********/
.topic-reply {
  a {
    color: inherit;
  }
  
}

/******** 消息通知 ********/
.notification-badge {
  margin-top: 4px;
}

/***********************  TOP Bar ********************/
