// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


/**** ---- universal ---- ****/

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 60px;
}



/**** ---- header ---- ****/

.navbar-static-top {
  margin-bottom: 40px;
  margin-top: 0px;
}



/**** ---- footer ---- ****/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

/**** ---- User Register Page ---- ****/
.register-page {
  img.captcha {
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 3px;
  }
}


/**** ---- Topic Index Page ---- ****/
.topics-index-page {
  .topic-list {
    .nav > li > a {
      position: relative;
      display: block;
      padding: 5px 14px;
      font-size: 1em;
    }

    a {
      color: #444444;
    }

    .meta {
      font-size: 0.9em;
      color: #b3b3b3;

      a {
        color: #b3b3b3;
      }
    }

    .badge {
      background-color: #d8d8d8;
    }

    hr {
      border: 0;
      border-top: 2px solid #dcebf5;
    }
  }
}

/****---- Add container and footer space ----****/
#app > div.container {
  margin-bottom: 100px;
}